# Next.js
.next/
out/

# Dependencies
node_modules/

# Env
.env
.env.local
.env*.local

# Vercel
.vercel

# Misc
.DS_Store
*.pem
npm-debug.log*
yarn-error.log

# Uploads (legacy express server)
uploads/
